@media only screen and (max-width: 768px) {
  .cerls-logo {
    height: 35px;
    width: 35px;
  }
  .lg {
    display: none;
    color: #ab0044;
  }
  form {
    max-width: 50vw;
    min-height: 100vh;
  }
}
@media only screen and (min-width: 769px) {
  .cerls-logo {
    height: 50px;
    width: 50px;
  }
  .sm {
    display: none;
    color: #ab0044;
  }
  p,
  h4,
  h5,
  h2,
  h1,
  h6,
  h3 {
    font-size: large;
  }
  form {
    max-width: 50vw;
    min-height: 100vh;
  }
}

.bg-img {
  background-image: url(images/slider/cerls-m.png);
}

.animated-item-2 {
}
.animated-item-1 {
  color: #fff !important;
}
