@media only screen and (max-width: 768px) {
  .cerls-logo {
    height: 6vh;
    width: 11vw;
  }
}
@media only screen and (min-width: 769px) {
  .cerls-logo {
    height: 7vh;
    width: 3vw;
  }
}

.bg-img {
  background-image: url(images/slider/bg1.jpg);
}
.partner {
  width: 100px;
  height: 100pxpx;
}
