
@media only screen and (max-width: 768px) {
  .cerls-logo {
    height: 6vh;
    width: 11vw;
  }
  form {
    max-width: 50vw;
    min-height: 100vh;
  }
}
@media only screen and (min-width: 769px) {
  .cerls-logo {
    height: 7vh;
    width: 3vw;
  }
  p,
  h4,
  h5,
  h2,
  h1,
  h6,
  h3 {
    font-size: large;
  }
  form {
    max-width: 50vw;
    min-height: 100vh;
  }
}

.bg-img {
  background-image: url(images/slider/cerls-m.png);
}
.partner {
  width: 100px;
  height: 100px;
}
.animated-item-2 {
}
.animated-item-1 {
  color: #fff !important;
}
